<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cityShiled.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>918B446112032F564264790DE6CB28B8E7C467D7</string>
				<key>dateExpires</key>
				<string>2020/7/28</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>918B446112032F564264790DE6CB28B8E7C467D7</string>
						<key>dateExpires</key>
						<string>2020/7/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ML2L65XZJL</string>
						<key>name</key>
						<string>JiangSu LingFeng Network Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>918B446112032F564264790DE6CB28B8E7C467D7</string>
						<key>dateExpires</key>
						<string>2020/7/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BSBacktraceLogger.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ML2L65XZJL</string>
						<key>name</key>
						<string>JiangSu LingFeng Network Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>918B446112032F564264790DE6CB28B8E7C467D7</string>
						<key>dateExpires</key>
						<string>2020/7/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ML2L65XZJL</string>
						<key>name</key>
						<string>JiangSu LingFeng Network Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>918B446112032F564264790DE6CB28B8E7C467D7</string>
						<key>dateExpires</key>
						<string>2020/7/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaAsyncSocket.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ML2L65XZJL</string>
						<key>name</key>
						<string>JiangSu LingFeng Network Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>918B446112032F564264790DE6CB28B8E7C467D7</string>
						<key>dateExpires</key>
						<string>2020/7/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaLumberjack.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ML2L65XZJL</string>
						<key>name</key>
						<string>JiangSu LingFeng Network Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>918B446112032F564264790DE6CB28B8E7C467D7</string>
						<key>dateExpires</key>
						<string>2020/7/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DZNEmptyDataSet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ML2L65XZJL</string>
						<key>name</key>
						<string>JiangSu LingFeng Network Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>918B446112032F564264790DE6CB28B8E7C467D7</string>
						<key>dateExpires</key>
						<string>2020/7/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DoraemonKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ML2L65XZJL</string>
						<key>name</key>
						<string>JiangSu LingFeng Network Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>918B446112032F564264790DE6CB28B8E7C467D7</string>
						<key>dateExpires</key>
						<string>2020/7/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ML2L65XZJL</string>
						<key>name</key>
						<string>JiangSu LingFeng Network Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>918B446112032F564264790DE6CB28B8E7C467D7</string>
						<key>dateExpires</key>
						<string>2020/7/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JXCategoryView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ML2L65XZJL</string>
						<key>name</key>
						<string>JiangSu LingFeng Network Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>918B446112032F564264790DE6CB28B8E7C467D7</string>
						<key>dateExpires</key>
						<string>2020/7/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>LCTabBarController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ML2L65XZJL</string>
						<key>name</key>
						<string>JiangSu LingFeng Network Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>918B446112032F564264790DE6CB28B8E7C467D7</string>
						<key>dateExpires</key>
						<string>2020/7/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>LEEAlert.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ML2L65XZJL</string>
						<key>name</key>
						<string>JiangSu LingFeng Network Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>918B446112032F564264790DE6CB28B8E7C467D7</string>
						<key>dateExpires</key>
						<string>2020/7/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>LYEmptyView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ML2L65XZJL</string>
						<key>name</key>
						<string>JiangSu LingFeng Network Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>918B446112032F564264790DE6CB28B8E7C467D7</string>
						<key>dateExpires</key>
						<string>2020/7/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ML2L65XZJL</string>
						<key>name</key>
						<string>JiangSu LingFeng Network Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>918B446112032F564264790DE6CB28B8E7C467D7</string>
						<key>dateExpires</key>
						<string>2020/7/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ML2L65XZJL</string>
						<key>name</key>
						<string>JiangSu LingFeng Network Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>918B446112032F564264790DE6CB28B8E7C467D7</string>
						<key>dateExpires</key>
						<string>2020/7/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ML2L65XZJL</string>
						<key>name</key>
						<string>JiangSu LingFeng Network Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>918B446112032F564264790DE6CB28B8E7C467D7</string>
						<key>dateExpires</key>
						<string>2020/7/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ML2L65XZJL</string>
						<key>name</key>
						<string>JiangSu LingFeng Network Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>918B446112032F564264790DE6CB28B8E7C467D7</string>
						<key>dateExpires</key>
						<string>2020/7/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PNChart.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ML2L65XZJL</string>
						<key>name</key>
						<string>JiangSu LingFeng Network Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>918B446112032F564264790DE6CB28B8E7C467D7</string>
						<key>dateExpires</key>
						<string>2020/7/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ReactiveObjC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ML2L65XZJL</string>
						<key>name</key>
						<string>JiangSu LingFeng Network Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>918B446112032F564264790DE6CB28B8E7C467D7</string>
						<key>dateExpires</key>
						<string>2020/7/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ML2L65XZJL</string>
						<key>name</key>
						<string>JiangSu LingFeng Network Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>918B446112032F564264790DE6CB28B8E7C467D7</string>
						<key>dateExpires</key>
						<string>2020/7/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SocketRocket.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ML2L65XZJL</string>
						<key>name</key>
						<string>JiangSu LingFeng Network Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>918B446112032F564264790DE6CB28B8E7C467D7</string>
						<key>dateExpires</key>
						<string>2020/7/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TZImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ML2L65XZJL</string>
						<key>name</key>
						<string>JiangSu LingFeng Network Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>918B446112032F564264790DE6CB28B8E7C467D7</string>
						<key>dateExpires</key>
						<string>2020/7/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>UICountingLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ML2L65XZJL</string>
						<key>name</key>
						<string>JiangSu LingFeng Network Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>918B446112032F564264790DE6CB28B8E7C467D7</string>
						<key>dateExpires</key>
						<string>2020/7/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>UITextView_Placeholder.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ML2L65XZJL</string>
						<key>name</key>
						<string>JiangSu LingFeng Network Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>918B446112032F564264790DE6CB28B8E7C467D7</string>
						<key>dateExpires</key>
						<string>2020/7/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YTKNetwork.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ML2L65XZJL</string>
						<key>name</key>
						<string>JiangSu LingFeng Network Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>918B446112032F564264790DE6CB28B8E7C467D7</string>
						<key>dateExpires</key>
						<string>2020/7/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>fishhook.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ML2L65XZJL</string>
						<key>name</key>
						<string>JiangSu LingFeng Network Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>918B446112032F564264790DE6CB28B8E7C467D7</string>
						<key>dateExpires</key>
						<string>2020/7/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>iCarousel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ML2L65XZJL</string>
						<key>name</key>
						<string>JiangSu LingFeng Network Technology Co., Ltd</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>ML2L65XZJL.com.cityShiled.csdp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>ML2L65XZJL</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>ML2L65XZJL.com.cityShiled.csdp</string>
				</array>
			</dict>
			<key>name</key>
			<string>cityShiled.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b9b4d8e2-0760-4a32-850e-e6ed6b1c8a35</string>
				<key>name</key>
				<string>neibu_20190729_adhoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>ML2L65XZJL</string>
				<key>name</key>
				<string>JiangSu LingFeng Network Technology Co., Ltd</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
